<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Borno</string>
	<key>CFBundleExecutable</key>
	<string>Borno</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.borno.inputmethod.Borno</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Borno</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.5</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>InputMethodConnectionName</key>
	<string>com.borno.inputmethod.Borno_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>BornoInputController</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>TISIntendedLanguage</key>
	<string>mul</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Latn</string>
		<string>Beng</string>
		<string>en</string>
		<string>bn</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>iconTemplate.pdf</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.borno.inputmethod.Borno</key>
			<dict>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Latn</string>
					<string>Beng</string>
					<string>en</string>
					<string>bn</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>0</integer>
				<key>tsInputModeKeyEquivalentKey</key>
				<string></string>
				<key>tsInputModeMenuIconFileKey</key>
				<string>iconTemplate.pdf</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>iconTemplate.pdf</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smRoman</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.borno.inputmethod.Borno</string>
		</array>
	</dict>
</dict>
</plist>
